   
   
   .board {
      display: flex;
      flex-wrap: wrap;
      width: 300px;
      height: 300px;
    }

    .cell {
      box-sizing: border-box;
      width: 100px;
      height: 100px;
      border: 1px solid black;
      text-align: center;
      line-height: 100px;
      cursor: pointer;
    }

    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 500,
      'GRAD' 0,
      'opsz' 48;
      font-size: 80px !important;  
    }